<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guest">
		
	<select id="getList" resultType="guestDto">
		SELECT 	num, writer, title, content, pwd, regdate
		FROM fit_guest
		ORDER BY num ASC
	</select>
	
	<select id="getData" parameterType="int" resultType="guestDto">
		SELECT num, writer, title, content, pwd, TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate
		FROM fit_guest 
		WHERE num=#{num}
	</select>
	
	<update id="update" parameterType="guestDto">
		UPDATE fit_guest
		SET writer=#{writer}, content=#{content}, title=#{title}
		WHERE num=#{num} AND pwd=#{pwd}
	</update>
	
	<delete id="delete" parameterType="guestDto">
		DELETE FROM fit_guest
		WHERE num=#{num} AND pwd=#{pwd}
	</delete>
	
	<insert id="insert" parameterType="guestDto">
		INSERT INTO fit_guest
		(num, writer, pwd, title, content, regdate)
		VALUES(member_seq.NEXTVAL, #{writer}, #{pwd}, #{title}, #{content}, SYSDATE)
	</insert>
	
</mapper>
